/* เริ่มcss ของ Booth2 page*/
.Product-detail{
    text-align:center;
    font-size: 13px ;
    max-width: 450px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 8px;
    margin-bottom: 8px;
}
/* จบcss ของ Booth2 page */