.Booth3-size-img {
    width: 120px;
    height: 120px;
}
.Booth3-fonts-topic {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.Booth3-style-nameproduct {
    font-size: 17px;
    font-weight: bold;
    border-style: outset;
}
.Booth3-style-detailproduct {
    font-size: 16px;
    border-style: outset;
    margin: 0px 10px;
}