/* เริ่มcss ของ Home page */


.member {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 6%;
}
.name-member {
    border: 1px solid #ddd;
    border-radius: 8px;
}
.name-member h2 {
    text-align: center;
}
.member-list{
    width: 700px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.about-festival-bg{
    background-image: url('../img/Homepage/in_festival.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    background-size: cover;
}

.about-festival-text{
    color: white;
    background-color:rgba(0,0,0,0.4);
    padding:30px;
    border-radius: 10px;
}

.about-festival-container{
    position: absolute;
    padding: 20px;
}

/* จบcss ของ Home page */