/* เริ่มcss ของ Home page */


.member {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 6%;
}
.name-member {
    border: 1px solid #ddd;
    border-radius: 8px;
}
.name-member h2 {
    text-align: center;
}
.member-list{
    width: 700px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


/* จบcss ของ Home page */