/* เริ่มcss ของ Registration page*/
.registration-bg{
    background-image: url('/img/Registration-page/registration-page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;

}

.registration-head {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.registration-section {
    background: whitesmoke;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 700px;
}

.registration-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.radio{
    margin-left: 20px;
}

.registration-accept-btn{
    background: mediumseagreen;
    margin-right: 10px;
    padding: 12px 35px;
    border-radius: 8px;
    transition: 0.5s;
    color: black;
    text-decoration: none;
}

.registration-accept-btn:hover{
    background: green;
    color: #fff;
}

.registration-reset-btn{
    background: lightgrey;
    margin-right: 10px;
    padding: 12px 35px;
    border-radius: 8px;
    transition: 0.5s;
    color: black;
    text-decoration: none;
}


.registration-reset-btn:hover{
    background: darkgrey;
    color: #fff;
}
/* จบcss ของ Registration page */